.footer-wrapper {
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
    margin-top: auto !important;
  background-color: #1b1f25;

  }
  
  .footer {
    text-align: center;
    padding: 1rem;
  }
  
  .footer__brand {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--veryLightBlue);
  }
  
  .footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  
  .icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 1px solid var(--lightBlue);
    color: var(--lightBlue);
    transition: color 200ms, background-color 200ms;
    -webkit-transition: color 200ms, background-color 200ms;
    -moz-transition: color 200ms, background-color 200ms;
    -ms-transition: color 200ms, background-color 200ms;
    -o-transition: color 200ms, background-color 200ms;
    cursor: pointer;
  }
  
  .icon:hover {
    background-color: var(--lightBlue);
    color: var(--veryDarkBlue);
  }
  
  .icon:not(:last-child) {
    margin-right: 1rem;
  }
  
  .footer__copyright {
    /* color: gray; */
  color: #bfd6ff;

  }