/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"); */

/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --menu: #eeecec;
  --nav-bg: #ffffff;
  --nav-brand: black;
  --black: #2d2d2d;
  --gray: gray;
  --lightgray: lightgray;
  --red-2:#af2164; 
  --red-1: #c82471; 
  --veryDarkBlue: #06283D;
  --darkBlue: #1363DF;
  /* --lightBlue: #47B5FF; */
  --lightBlue: #40a3e6;
  --veryLightBlue: #DFF6FF;
  --bg: #1f293a;
  --card-bg: hwb(0 96% 4%);
  /* --text: #bfd6ff; */
  --text: #505050;
  --validation: #af2164;
    --bs: 3px 3px 10px rgba(0, 0, 0, 0.3);
    --bsh: 4px 4px 10px rgba(0, 0, 0, 0.4);
    --placeholder: #2d2d2d;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500 !important;
  letter-spacing: 1px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

a {
  all: unset;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /* font-family: "Inter", sans-serif; */
  /* font-family: 'Inconsolata', monospace; */
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'IBM Plex Mono', monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-container {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  /* background-color: var(--black); */
  background-color: var(--nav-bg);
  /* background-image: linear-gradient(to right, var(--nav-gradient-1), var(--red-1)); */
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem;
}

.navbar__brand {
  font-size: 1.5rem !important;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--nav-brand);
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  width: 40px;
  margin-right: 0.5rem;
}

@media screen and (max-width: 400px) {
  .brand-text {
    display: none;
  }
}

.navbar__dropdown-items {
  position: absolute;
  z-index: 3;
  left: -100%;
  top:70px;
  padding: 1rem 0.5rem;
  width: 100%;
  background-color: var(--menu);
  transition: left 500ms;
  -webkit-transition: left 500ms;
  -moz-transition: left 500ms;
  -ms-transition: left 500ms;
  -o-transition: left 500ms;
}

@media screen and (min-width: 640px) {
  .navbar__dropdown-items {
    position: static;
    background-image: linear-gradient(var(--nav-bg), var(--nav-bg));
    padding: 0;
    width: auto;
  }

  .navbar__links {
    position: absolute;
    background-color: var(--menu);
    width: 100%;
    left: -200%;
    top: 72px;
    padding: 1rem;
    padding-top: 0.5rem;
    transition: left 500ms;
  }

  .navbar__search-container {
    padding: 0 !important;
    /* max-width: 300px; */
  }

  /* .navbar__searchbar {
    border-top: 1px solid gray !important;
    border-left: 1px solid gray !important;
    border-bottom: 1px solid gray !important;
  }

  .navbar__searchbar:focus {
    border-top-color: var(--red-1) !important;
    border-left-color: var(--red-1) !important;
    border-bottom-color: var(--red-1) !important;
  } */


  .navbar__search-icon {
    cursor: pointer;
    transition: color 200ms, background-color 200ms;
    -webkit-transition: color 200ms, background-color 200ms;
    -moz-transition: color 200ms, background-color 200ms;
    -ms-transition: color 200ms, background-color 200ms;
    -o-transition: color 200ms, background-color 200ms;
  }

  .navbar__search-icon:hover {
    background-color: var(--red-2) !important;
    /* color: var(--red-1) !important; */
  }

  .navbar__brand {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1100px) {
  .navbar__links {
    position: static;
    display: flex;
    align-items: center;
    background-image: linear-gradient(var(--nav-bg), var(--nav-bg));
    width: auto;
    padding: 0;
    margin-left: auto;
  }

  .navbar__links--link {
    margin: 0 1rem;
    color: black !important;
  }

  .navbar__links--link:hover,
  .navbar__links--link:active {
    color: var(--red-1) !important;
    transition: color 200ms;
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
  }

  .signupBtn, .loginBtn {
    transition: background-color 200ms, color 100ms;
    -webkit-transition: background-color 200ms, color 100ms;
    -moz-transition: background-color 200ms, color 100ms;
    -ms-transition: background-color 200ms, color 100ms;
    -o-transition: background-color 200ms, color 100ms;
  }

  .signupBtn {
    color: var(--lightBlue) !important;
  }

  .loginBtn {
    color: var(--black) !important;
    margin-right: 0;
  }

  .signupBtn:hover{
    background-color: var(--nav-bg) !important;
    color: var(--red-1) !important;
  }

  .loginBtn:hover {
    background-color: var(--nav-bg) !important;
    color: var(--black) !important;
  }


  .navbar__dropdown-items {
    display: flex;
    width: 100%;
  }


  .navbar__form{
    margin-left: auto;
  }

  .navbar__searchbar {
    min-width: 400px;
  }


  .navbar__hamburger {
    display: none;
  }

  .navbar__brand {
    margin-right: 2rem;
  }
}

.side-menu-active .navbar__dropdown-items {
  left: 0%;
}

.side-menu-active .navbar__links {
  left: 0%;
}

.navbar__search-container {
  display: flex;
  padding: 0.5rem 0;
}

.navbar__searchbar {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 1rem;
  padding: 0.2rem 0.7rem;
  font-family: inherit;
}

.navbar__searchbar {
  border-top: 1px solid gray !important;
  border-left: 1px solid gray !important;
  border-bottom: 1px solid gray !important;
}

.navbar__searchbar:focus {
  border-top-color: var(--red-1) !important;
  border-left-color: var(--red-1) !important;
  border-bottom-color: var(--red-1) !important;
}

.navbar__search-icon {
  padding: 0.5rem;
  background-color: var(--red-1);
  color:  var(--nav-bg);
  border: 1px solid var(--red-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__links--link {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 0;
  color: var(--black) !important;
  cursor: pointer;
}

.navbar__links--link:active {
  color: white;
}

.signupBtn, .loginBtn {
  padding: 0.5rem 0.7rem;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 500;
  margin-top: 0.2rem;
}

.signupBtn {
  background-color: var(--red-1);
  border: 1px solid var(--red-1);
  color: var(--nav-bg) !important;
}

.loginBtn {
  background-color: var(--black);
  color: var(--nav-bg) !important;
  border: 1px solid var(--black);
}

.navbar__hamburger .line {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  background-color:   var(--red-1);
  transition: transform 200ms, opacity 200ms;
  -webkit-transition: transform 200ms, opacity 200ms;
  -moz-transition: transform 200ms, opacity 200ms;
  -ms-transition: transform 200ms, opacity 200ms;
  -o-transition: transform 200ms, opacity 200ms;
}

.showmenu .line-1 {
  transform: rotate(-45deg);
  transform-origin: 100%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.showmenu .line-2 {
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.showmenu .line-3 {
  transform: rotate(45deg) translate(3px, 2px);
  transform-origin: 100%;
  -webkit-transform: rotate(45deg) translate(3px, 2px);
  -moz-transform: rotate(45deg) translate(3px, 2px);
  -ms-transform: rotate(45deg) translate(3px, 2px);
  -o-transform: rotate(45deg) translate(3px, 2px);
}

.alert-box.success {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  color: darkgreen;
  border: 2px solid #26cc00;
  background-color: #d2f2d4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.alert-box.success .close-icon{
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red-1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--red-2);
} 