.signup-section {
    padding: 1rem;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);

}
.signup-container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--card);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;

}

.signup-heading {
    color: var(--lightBlue);
    text-align: center;
    background-color: var(--card);
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-text {
    color: var(--text);
    text-align: center;
    cursor: pointer;
    margin-top: 1rem;
}

.form-text a:hover {
    color: var(--lightBlue);
}

.signup-form {
    padding-top: 1rem;
}


@media screen and (min-width:640px) {
    .signup-container {
        padding: 2rem;
    }
}

.signup-form input {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    color: var(--text);
}

.signup-form input::placeholder { 
    color: var(--placeholder);
  }

.err-msg {
    display: block;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    padding-left: 1rem;
    color: #ff5d6d;
}

.signup-form input[type="submit"] {
    background-color: var(--lightBlue);
    color: var(--veryDarkBlue);
    border: 1px solid var(--lightBlue);
    font-weight: 500;
    transition: background-color 200ms;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    -ms-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    cursor: pointer;
}

.signup-form input[type="submit"]:hover {
    background-color: var(--bg);
    color: var(--lightBlue);
}

.signup-form input:active, input:focus {
    border-bottom-color: var(--lightBlue);
}