.signup-section {
    padding: 5rem 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    /* background-color: var(--nav-bg); */
    background-image: linear-gradient(to bottom, #DA4453, #89216B);
}
.signup-container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--card-bg);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: transform 200ms;
    box-shadow: var(--bs);
    padding: 1rem;
    -webkit-transition: transform 200ms;
    -moz-transition: transform 200ms;
    -ms-transition: transform 200ms;
    -o-transition: transform 200ms;
}

.signup-container:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    box-shadow: var(--bsh);
}

.signup-heading {
    color: var(--red-1);
    text-align: center;
    background-color: var(--card-bg);
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-text {
    color: var(--text);
    text-align: center;
    cursor: pointer;
    margin-top: 1rem;
}

.form-text a:hover {
    color: var(--red-1);
}

.signup-form {
    padding-top: 1rem;
}


@media screen and (min-width:640px) {
    .signup-container {
        padding: 2rem;
    }
}

.signup-form input {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    color: var(--text);
}

.signup-form input::placeholder { 
    color: var(--placeholder);
  }

.err-msg {
    display: block;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    padding-left: 1rem;
    color: #ff5d6d;
}

.signup-form input[type="submit"] {
    background-color: var(--red-1);
    color: var(--nav-bg);
    border: 1px solid var(--red-1);
    font-weight: 500;
    transition: background-color 200ms;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    -ms-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    cursor: pointer;
}

.signup-form input[type="submit"]:hover {
    background-color: var(--red-2);
}

.signup-form input:active, input:focus {
    border-bottom-color: var(--red-2);
}