main {
    background-color: rgb(235, 234, 234);
  }
  
  .category-container, .post-thread, #threadlist {
    padding:  2rem 1rem;
    max-width: 992px;
    margin: 0 auto;
  }
  
  .category__header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  @media screen and (min-width: 1100px) {
    .category__header {
      font-size: 2rem;
    }
  }
  
  .category {
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  
  .category__heading {
    text-align: center;
    padding: 1rem;
    /* background-color: #ff5252; */
    background-image: linear-gradient(to right bottom, 	#cb2d3e, #ef473a);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .category__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .category__description {
    margin-bottom: 2rem;
  }
  
  .category--padding {
    padding: 1.5rem;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .category__btn {
    padding: 0.5rem 0.7rem;
    background-color: #ffbaba;
    font-weight: 500;
    color: #ff0000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: color 100ms, background-color 200ms;
    -webkit-transition: color 100ms, background-color 200ms;
    -moz-transition: color 100ms, background-color 200ms;
    -ms-transition: color 100ms, background-color 200ms;
    -o-transition: color 100ms, background-color 200ms;
  }
  
  .category__btn:hover {
    color: white;
    background-color: #ff7b7b;
  }
  
  @media screen and (min-width: 1100px) {
    .category__heading {
      font-size: 2rem;
      padding: 2rem;
    }
    .category__title {
      font-size: 1.5rem;
    }
    .category__description {
      font-size: 1.2rem;
    }
  
    .category__btn {
      font-size: 1.2rem;
    }
  
  }

.post-thread-heading {
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1100px) {
    .post-thread-heading {
        font-size: 2rem;
    }
}

.thread-title, .thread-description {
    width: 100%;
    padding: 1rem;
    border: 1px solid transparent;
    outline: 0;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-family: inherit;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.thread-description:focus, .thread-title:focus {
    border: 1px solid #cb2d3e;
}

.post-thread-btn {
    font-size: 1.2rem;
    padding: 0.5em 1em;
    font-weight: 500;
    background-color: #ef473a;
    color: white;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background-color 200ms;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    -ms-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    cursor: pointer;
}

.post-thread-btn:hover {
    background-color: #cb2d3e;
}

.threadlist-heading {
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1100px) {
    .threadlist-heading {
        font-size: 2rem;
    }
}

.thread {
    display: block;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 2rem;
    transition: transform 200ms;
    -webkit-transition: transform 200ms;
    -moz-transition: transform 200ms;
    -ms-transition: transform 200ms;
    -o-transition: transform 200ms;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.thread:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.thread-heading {
    margin-bottom: 1rem;
}


